# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.build/
.venv/
.env
.env.*
*.egg-info/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test/coverage
.coverage
htmlcov/
.pytest_cache/

# Packaging
build/
dist/

# Local artifacts
.cache/
logs/

